@import url('https://fonts.googleapis.com/css2?family=Sometype+Mono:ital,wght@0,400..700;1,400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cherry+Bomb+One&display=swap');

.button-effect {
    transition: all 0.3s ease;
    cursor: pointer;
    display: inline-block;
}

.button-effect:hover {
    transform: scale(1.05);
    box-shadow: 0 0 15px rgba(255, 255, 255, 0.8);
}

.button-effect:active {
    transform: scale(0.95);
    box-shadow: 0 5px 5px rgba(100, 100, 100, 0.2);
}

.button-effect {
    position: absolute;
    top: 730px;
    /* Adjusted from margin-top for more consistency */
    left: 750px;
    /* Adjusted from margin-left for more consistency */
    padding: 8px 60px;
    /* Combined padding */
    font-family: 'Sometype Mono', monospace;
    background-color: #E7E1D5;
    color: black;
    font-size: 30px;
    border-radius: 25px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease;
    /* Smooth transition for hover and active effects */
    cursor: pointer;
    /* Pointer cursor on hover */
}

.button-effect:hover {
    transform: scale(1.05);
    box-shadow: 0 0 15px rgba(255, 255, 255, 0.8);
    /* Glow effect on hover */
}

.button-effect:active {
    transform: scale(0.95);
    box-shadow: 0 5px 5px rgba(100, 100, 100, 0.2);
    /* Simulate button press */
}