.home-page-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background: linear-gradient(to bottom, #32365F 66%, #A01C1C 0%);
    padding: 20px;
    position: relative;
    /* Make the container position relative */
}

.images-container {
    display: flex;
    /* Ensure this container displays its children side by side */
    justify-content: flex-start;
    /* Align children to the start of the container */
    width: 100%;
}

.notes-image {
    width: 400px;
    /* Adjust size according to your image */
    height: 400px;
    /* Maintain the aspect ratio */
    margin-right: 35px;
    /* Add space between images */
    z-index: 2;
    /* Ensure images are displayed in front of the triangle */
}

.poo-image {
    width: 550px;
    /* Adjust size according to your image */
    height: auto;
    /* Maintain the aspect ratio */
    margin-right: 0px;
    /* Add space between images */
    z-index: 2;
    /* Ensure images are displayed in front of the triangle */
}

.frame-image {
    width: 170px;
    /* Adjust size according to your image */
    height: 200px;
    /* Maintain the aspect ratio */
    margin-left: 130px;
    /* Add space between images */
    margin-top: -70px;
    z-index: 2;
    /* Ensure images are displayed in front of the triangle */
}


.triangle {
    width: 0;
    height: 0;
    border-left: 300px solid transparent;
    border-right: 300px solid transparent;
    border-bottom: 430px solid rgba(255, 255, 255, 0.7);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    filter: blur(20px);
    /* Add the blur effect */
    margin-top: 10px;
    margin-left: 10px;
    border-radius: 1000px;
}