.navbar {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: absolute;
    top: 10px;
    right: 10px;
}

.nav-link {
    margin-left: 20px;
    display: inline-block;
}

.nav-link img {
    width: 35px;
    /* Set a specific size for all icons */
    height: 35px;
    /* Set a specific size for all icons */
    vertical-align: middle;
    /* Aligns the icon vertically */
    transition: opacity 0.3s;
    /* Smooth opacity transition on hover */
}

.nav-link:hover img {
    opacity: 0.6;
    /* Dim the icon slightly on hover */
}